body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: auto;
  margin: 10px auto;
  background: #fff;
  padding: 30px 35px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

h2 {
  text-align: center;
  color: #2d3436;
  margin-bottom: 25px;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.tabs button {
  flex: 1 1 20%;
  min-width: 150px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #dfe6e9;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.tabs button.active {
  background-color: #0984e3;
  color: white;
}

.tabs button:hover:not(.active) {
  background-color: #b2bec3;
}

/* Card */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  margin-bottom: 25px;
}

.card h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #2d3436;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-weight: 600;
  color: #444;
}

input,
select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #dcdde1;
  font-size: 15px;
  transition: 0.3s;
  width: 98%;
}

input:focus,
select:focus {
  border-color: #0984e3;
  outline: none;
  box-shadow: 0 0 6px rgba(9, 132, 227, 0.3);
}

button {
  width: 200px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #0984e3;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #74b9ff;
}

.msg {
  text-align: center;
  color: #16a34a;
  font-weight: 600;
  margin: 10px 0;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #dcdde1;
}

th {
  background: #f1f2f6;
  font-weight: 600;
}

tbody tr:hover {
  background-color: #dfe6e9;
}

.empty-msg {
  text-align: center;
  color: #636e72;
  padding: 10px 0;
}
