<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library - Admin Dashboard</title>

</head>

<body>



    <!-- Main Content -->
    <div class="main">
        <div class="header">
            <div class="user">Nisal Gunasekara (Admin)</div>
            <div class="time">12:29 PM | Sep 02, 2023</div>
        </div>

        <div class="dashboard">
            <div class="card">
                <div class="pie-container">
                    <div class="pie-chart"></div>
                    <div class="legend">
                        <div>
                            <div class="circle borrowed"></div> Total Borrowed Books
                        </div>
                        <div>
                            <div class="circle returned"></div> Total Returned Books
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <div class="stat-box"><b>0150</b><span>Total Users</span></div>
                <div class="stat-box"><b>01500</b><span>Total Books</span></div>
                <div class="stat-box"><b>0010</b><span>Total Branches</span></div>
            </div>

            <div class="card">
                <h3>Overdue Borrowers</h3>
                <div class="section-list">
                    <div class="section-item">Sasmith Gunasekara <span>Borrow ID: 10</span></div>
                    <div class="section-item">Sasmith Gunasekara <span>Borrow ID: 10</span></div>
                </div>
            </div>

            <div class="card">
                <h3>Library Admins</h3>
                <div class="section-list">
                    <div class="section-item">Nisal Gunasekara <span>Active</span></div>
                    <div class="section-item">Nisal Gunasekara <span>Active</span></div>
                </div>
            </div>

            <div class="card">
                <h3>Branch Network</h3>
                <div class="section-list">
                    <div class="section-item">Library - Matara <span>ID: 1</span></div>
                    <div class="section-item">Library - Matara <span>ID: 2</span></div>
                </div>
            </div>
        </div>

        
    </div>



</body>

</html>