.container {
  max-width: auto;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header h1 {
  text-align: center;
  color: #0c1011;
  margin-bottom: 25px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.tab-btn {
  background: #f0f0f0;
  color: #333;
  padding: 10px 25px;
  border-radius: 25px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-btn.active {
  
  background: #3498db;
  color: white;
}

form {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #444;
}

input, textarea {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 18px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1f4e5a;
}

.radio-group {
  display: flex;
  gap: 15px;
  margin-top: 8px;
  align-items: center; /* Aligns radio button and label vertically */
}

.radio-group label {
  display: flex;       /* Makes label a flex container */
  align-items: center; /* Align text with the radio button */
  gap: 5px;            /* Space between radio and text */
  cursor: pointer;     /* Makes it clickable */
}

.activity-section {
  margin-top: 20px;
}

.activity-section h2 {
  text-align: center;
  color: #2b6777;
  margin-bottom: 12px;
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.activity-table th, .activity-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.activity-table th {
  background-color: #3498db;
  color: #ffffff;
}

.empty {
  text-align: center;
  color: #888;
  padding: 10px;
}
