body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f6fa;
  margin: 0;
  color: #2d3436;
}
.container {
  max-width: auto;
  margin: 0px auto;
  padding: 10px;
}
.card {
  background: #fff;
  border-radius: 16px;
  padding: 25px 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}
.card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
}
form label {
  display: block;
  font-weight: 600;
  margin-top: 15px;
}
form input,
form button {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 12px;
  border: 1px solid #dcdde1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  transition: 0.3s;
}
form input:focus {
  outline: none;
  border-color: #0984e3;
  box-shadow: 0 0 8px rgba(9, 132, 227, 0.3);
}
form button {
  margin-top: 20px;
  background-color: #0984e3;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
form button:hover {
  background-color: #74b9ff;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
th,
td {
  padding: 12px;
  border: 1px solid #dcdde1;
  text-align: left;
}
th {
  background-color: #f1f2f6;
}
tbody tr:hover {
  background-color: #dfe6e9;
}
.add-row-btn {
  width: auto;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #00b894;
}
.remove-row-btn {
  width: auto;
  padding: 8px 16px;
  background-color: #d63031;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.remove-row-btn:hover {
  background-color: #ff7675;
}
