.container {
  max-width: auto;
  margin: 0px auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 25px 35px;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

h2 { text-align: center; margin-bottom: 25px; }
h3 { margin-bottom: 15px; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 15px;
}

label { font-weight: 600; }
input, select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  width: 100%;
  font-size: 14px;
  transition: 0.2s;
}

input:focus, select:focus {
  border-color: #6366f1;
  box-shadow: 0 0 6px rgba(99,102,241,0.2);
  outline: none;
}

button {
  grid-column: span 2;
  padding: 12px;
  background-color: #6366f1;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover { background-color: #4f46e5; }

.section {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 20px;
  border-radius: 12px;
  margin-top: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

th { background: #f1f5f9; }

.msg {
  text-align: center;
  color: #16a34a;
  font-weight: 600;
  margin-top: 10px;
}
