<!-- SIDEBAR -->
<div
  class="
    tw-fixed tw-top-0 tw-left-0 tw-h-screen tw-w-64 tw-bg-white tw-shadow-lg tw-z-50 
    tw-transform tw-transition-all tw-duration-300
    md:tw-translate-x-0
  "
  [class.tw--translate-x-64]="!mobileSidebarOpen"
>
  <!-- HEADER -->
  <div class="tw-text-center tw-py-6 tw-text-2xl tw-font-bold tw-text-blue-700 tw-border-b tw-border-gray-200">
    Library
  </div>

  <!-- MENU -->
  <div class="tw-overflow-y-auto tw-h-[calc(100vh-80px)]">

    <ng-container *ngFor="let item of menuItems">
      
      <!-- Parent Menu Button -->
      <div
        class="tw-px-4 tw-py-3 tw-flex tw-justify-between tw-items-center tw-font-medium tw-cursor-pointer tw-transition hover:tw-bg-blue-50"
        [ngClass]="{ 'tw-bg-blue-100 tw-text-blue-700': activeMenuId === item.id }"
        (click)="onMenuClick(item)"
      >
        <span>{{ item.label }}</span>
        <span *ngIf="item.isDropdown" class="tw-text-sm">▾</span>
      </div>

      <!-- Dropdown -->
      <div
        *ngIf="item.isDropdown"
        class="tw-bg-blue-50 tw-border-l-4 tw-border-blue-600 tw-transition-all"
        [class.tw-hidden]="activeMenuId !== item.id"
      >
        <a
          *ngFor="let subItem of item.subItems"
          [routerLink]="subItem.routerLink"
          routerLinkActive="tw-text-blue-700 tw-font-semibold"
          class="tw-block tw-py-2 tw-pl-10 tw-text-gray-700 hover:tw-bg-blue-100 tw-transition"
          (click)="closeMobileSidebar()"
        >
          {{ subItem.label }}
        </a>
      </div>

    </ng-container>

  </div>
</div>
